NEXT_PUBLIC_APP_URL=http://localhost:3000

NEXT_PUBLIC_SUPABASE_URL=https://smmzealluhqebzggzlts.supabase.co/rest/v1/
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNtbXplYWxsdWhxZWJ6Z2d6bHRzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODM1MDY5MzMsImV4cCI6MjA5OTA4MjkzM30.pJHlD0nCbQmpfB849KZGasCmjtJbl5QaGN7S70QeFk8
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNtbXplYWxsdWhxZWJ6Z2d6bHRzIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MzUwNjkzMywiZXhwIjoyMDk5MDgyOTMzfQ.62Myhteqp-6rzRZikj-Hc3pscmokuQ82i7JJBgl8h5Q

AI_PROVIDER=mock

OPENAI_API_KEY=
OPENAI_MODEL=

ADMIN_READ_TOKEN=sviluppo-locale-cambia-questa-stringa